
:root {
    --verde-escuro: #004e59;
    --verde-claro: #37c8b4;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Montserrat', sans-serif; font-size: 13px; }

.montserrat,
.Montserrat { font-family: 'Montserrat', sans-serif; }
.antonio { font-family: 'Antonio', sans-serif; }
/* 
Montserrat
    300
    400
    500
    600
    700

Antonio
    300
    600
 */
.dn { display: none; }
.ttu { text-transform: uppercase; }
.container { max-width: 1110px; padding: 0 20px; margin: 0 auto; }

p {line-height: 150%;}

header { background-color: var(--verde-escuro); color: #1ec8d2;  position: relative; z-index: 1;}
header .container { 
    display: flex; justify-content: space-between; align-items: center;
    height: 100px; padding: 10px 40px 0;
}
.border-gradient { 
    height: 11px; background:#2ec8d1; 
    background: linear-gradient(45deg,#004e59, #37c8b4); 
    background: -moz-linear-gradient(45deg,#004e59, #37c8b4); 
    background: -o-linear-gradient(45deg,#004e59, #37c8b4); 
    background: -webkit-linear-gradient(45deg,#004e59, #37c8b4); 
}


.botao-topo {
    background: var(--verde-claro);
    color: var(--verde-escuro); font-weight: bold; font-size: 20px;
    position: fixed; right: 0; top: 10vh; width: 0; height: 40px;
    display: flex; justify-content: center; align-items: center;
    overflow-x:hidden; cursor: pointer; z-index: 1;

    transition:all ease .2s;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.logo { width: 220px; }
.logo img { max-width: 100%; }
.peck-desktop { display: block; }
.peck-mobile { display: none; }

.navegacao { display: flex;align-items: center; padding-top: 20px;}

.menu-mobile {
    width: 22px;
    height: 22px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 0;
    display: none;
}
.mm-line { height: 2px; background-color: var(--verde-claro); }

.menu ul,
.menu li {list-style: none;}
.menu li {display: inline;padding: 0 8px;}
.menu li:first-child { padding-left: 0; }
.menu li a { text-transform: uppercase; color: var(--verde-claro); /*font-size: 25px;*/ font-size: 14px; text-decoration: none; font-weight: 300; transition: all ease 0.3s; }
.menu li.active a,
.menu li a:hover { color: #fff; transition: all ease 0.3s; }

/* .navegacao .social-idioma { margin-top: -42px; margin-left: 10px;} */
.navegacao .social { margin-left: 15px; }
.navegacao .social ul {display: flex;}
.navegacao .social ul,
.navegacao .social li { list-style: none; }
.navegacao .social li a { display: block; /*text-indent: -9000px;*/ margin-left: 5px; }
.navegacao .social li:first-child a { margin-left: 0; }


/* .navegacao .social-26 li a { width: 26px; height: 26px; background: url(../images/icos-social-header.gif) no-repeat; } */
.navegacao .social-26 li .instagram { background-position: 0 0;} 
.navegacao .social-26 li .youtube { background-position: -31px 0;} 
.navegacao .social-26 li .facebook { background-position: -63px 0;} 
.navegacao .social-26 li .linkedin { background-position: -94px 0;} 
.navegacao .social-26 li .email { background-position: -138px 0;} 
.navegacao .social-26 li .instagram:hover { background-position: 0 -30px;} 
.navegacao .social-26 li .youtube:hover { background-position: -31px -30px;} 
.navegacao .social-26 li .facebook:hover { background-position: -63px -30px;} 
.navegacao .social-26 li .linkedin:hover { background-position: -94px -30px;} 
.navegacao .social-26 li .email:hover { background-position: -138px -30px;} 
.navegacao .social-26 li .email {width: 33px;margin-left: 13px;} 


    /* .navegacao .social-20 li a { width: 18px; height: 18px; background: url(../images/icos-social-header-20.gif) no-repeat; } */
    .navegacao .social-20 li .instagram { background-position: 0 0;} 
    .navegacao .social-20 li .youtube { background-position: -21px 0;} 
    .navegacao .social-20 li .facebook { background-position: -42px 0;} 
    .navegacao .social-20 li .linkedin { background-position: -64px 0;} 
    .navegacao .social-20 li .email { background-position: -94px 0;} 
    .navegacao .social-20 li .instagram:hover { background-position: 0 -20px;} 
    .navegacao .social-20 li .youtube:hover { background-position: -21px -20px;} 
    .navegacao .social-20 li .facebook:hover { background-position: -42px -20px;} 
    .navegacao .social-20 li .linkedin:hover { background-position: -64px -20px;} 
    .navegacao .social-20 li .email:hover { background-position: -94px -20px;} 
    .navegacao .social-20 li .email {width: 24px;margin-left: 15px;} 

    /* SVG */
    .navegacao .social-20 li a svg rect,
    .navegacao .social-20 li a svg path { fill: var(--verde-claro); /*transition: all ease 0.1s;*/ }
    .navegacao .social-20 li a svg:hover rect,
    .navegacao .social-20 li a svg:hover path { fill: #fff; /*transition: all ease 0.1s;*/ }


.idioma { display: flex; justify-content: flex-end; margin-left: 17px; }
.idioma a { display: inline-block; }
.idioma a:last-child { margin-left: 10px; }
.idioma img { width: 33px;}

.slider-area { height: calc(100vh - 111px); background: var(--verde-escuro);}
.exibir-slide { background-size: cover; height: calc(100vh - 111px); }

    .conteudo-slide {display: flex; justify-content: space-between; align-items: center;}
    .conteudo-01 { background: url(../images/banner_direito-slider.jpg?i=02) no-repeat center; }
    .conteudo-01 div img { max-width: 100%; }
    .conteudo-slide div { 
        width: 45%; height: calc(100vh - 111px);
        display: flex;align-items: center;
    }

    .conteudo-slide-dreamTeam { 
        background: url(../images/banner_time.jpg) no-repeat center; background-size: cover; 
        display: flex; justify-content: center; align-items: center;
    }
    .conteudo-slide-dreamTeam a { text-decoration: none; color: var(--verde-escuro); }
    .conteudo-slide-dreamTeam .camiseta img { max-width: 100%; max-height: calc(100vh - 111px); }
    .conteudo-slide-dreamTeam .texto { color: var(--verde-escuro); max-width: 420px; }
    .conteudo-slide-dreamTeam .texto .titulo { font-weight: 600; padding: 0 50px 0; margin-bottom: 15px; font-size: 55px; }
    .conteudo-slide-dreamTeam .texto .motivo { font-weight: 400; padding: 0 50px 50px; font-size: 20px; }


    .banner_lgpd { 
        background: url(../images/banner_lgpd.jpg) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }
    .banner_lgpd .parte1,
    .banner_lgpd .parte2 { width: 50%; padding: 20px; }
    .banner_lgpd .parte1 { display: flex;justify-content: center;}
    .banner_lgpd .parte1 img { max-width: 100%; max-height: calc(100vh - 111px); }


    .banner_lgpd2 { 
        background: url(../images/banner_lgpd2_bg.jpg) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }
    .banner_lgpd2 .parte1 { width: 50%; padding: 20px; }
    .banner_lgpd2 .parte1 { display: flex;justify-content: center;}
    .banner_lgpd2 .parte1 img { max-width: 100%; max-height: calc(100vh - 111px); }


    .banner-DreamTeam { 
        background: url(../images/banner-DreamTeam-bg.jpeg) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }

    .banner_lgpd3 { 
        background: url(../images/banner_lgpd3.jpg?i=02) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }

    .banner_lgpd4 { 
        background: url(../images/banner-lgpd-310122.jpg?i=02) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }

    .banner_time3 { 
        background: url(../images/banner_time3.jpg?i=02) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }


    .banner_societario { 
        background: url(../images/banner_societario_211220.jpg?i=02) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }
    .banner_nucleoPMO { 
        background: url(../images/banner_nucleoPMO_211220.jpg?i=02) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }
    .banner_legalDesign { 
        background: url(../images/banner_legalDesign_211220.jpg?i=02) no-repeat center;
        display: flex; justify-content: center; align-items: center;
        background-size: cover;
    }

    .banner_hotline { 
        background: url(../images/banner-hotline.png?i=02) no-repeat center;
        /* display: flex; justify-content: center; align-items: center; */
        background-size:contain;
    }

    


.quem-somos {padding-top: 90px;padding-bottom: 70px;}
.titulo-default { margin-bottom: 60px; overflow: hidden; }
.titulo-default h2 { font-size: 43px; font-weight: 300; color: var(--verde-escuro);text-transform: uppercase; }
.titulo-default .grafismo { height: 58px; background: url(../images/titulo-grafismo.png?i=02) no-repeat right 0;}

.quem-somos h3,
.quem-somos p {margin: 0; margin-bottom: 30px;}
.quem-somos h3 {font-weight: 500;text-transform: uppercase;color: var(--verde-escuro); font-size: 24px;}
.quem-somos p { font-weight: 400;color: #707070;font-size: 17px; }
.quem-somos .corpo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.quem-somos .grafismo img {max-width: 100%;}
.quem-somos .grafismo { display: flex; }

.visao-section {background: url(../images/section-visao.jpg?i=022) no-repeat center; background-size: cover;}
.visao-section .container {padding-top: 50px;padding-bottom: 220px;}
.visao-section .titulo-default h2 { color: #fff; }
.visao-section .corpo {font-size: 32px;font-weight: 500;font-style: italic;color: #fff;}
.visao-section .corpo p {margin-bottom: 70px;text-align: center;}

.valores-section { background: url(../images/section-valores.jpg) no-repeat center; background-size: contain; }
.valores-section .container {padding-top: 50px;padding-bottom: 110px; }
.valores-corpo {display: flex; flex-wrap: wrap; /*margin: 0 -15px;*/ justify-content: space-between; }
.valores-corpo .valor-item {border: 1px solid var(--verde-escuro);padding: 30px 25px 20px;width: 32%;/*margin: 15px;*/ margin-bottom: 30px; background: #fff;}
.valores-corpo .img {min-height: 186px; margin-bottom: 13px;}
.valores-corpo .img img {max-width: 100%;}
.valores-corpo h4 {font-size: 19px; color: var(--verde-claro); text-transform: uppercase;min-height: 50px; margin-bottom: 10px;font-weight: 600;}
.valores-corpo p {font-size: 15px; color: #575756; margin-bottom: 38px;font-weight: 300;text-align: justify;margin-bottom: 0;}

.atuacao-section { 
    background: url(../images/atuacao-section.jpg?p=1) center bottom no-repeat; background-size:contain; 
    /* background-color: #124350; */
    background-color: var(--verde-escuro);
}
.atuacao-section .container {padding-top: 50px;padding-bottom: 0px;}
.atuacao-section .titulo-default h2 { color: #fff; }
.atuacao-section .corpo { display: flex; justify-content: space-between; flex-wrap: wrap; }

.atuacao-item { width: 48%; color: #fff;font-size: 15px;margin-bottom: 65px;}
.atuacao-item .img {/*height: 196px;*/ margin-bottom: 35px; }
.atuacao-item .img img {border-left: 23px solid var(--verde-claro); max-width: 100%;}
.atuacao-item h4 {font-size: 24px; color: var(--verde-claro); text-transform: uppercase;min-height: 45px; margin-bottom: 11px;font-weight: 600;}
.atuacao-item p {margin-bottom: 38px;font-weight: 300;text-align: justify;}
.atuacao-item ul { padding-left: 20px; }
.atuacao-item li { list-style: url('../images/atuacao-list-style.gif'); margin-bottom: 7px;}
.atuacao-item img { max-width: 100%; }

.pessoas-section {background: #fff;}
.pessoas-section .container {padding-top: 86px; padding-bottom: 90px;}
.pessoas-section .titulo-default { margin-bottom: 40px; }
.pessoas-section .olho {font-size: 28px; color: var(--verde-escuro);font-weight: 400;text-align: center;padding: 0 90px;margin-bottom: 60px;}
.pessoas-section .olho strong {display: inline-block;}
.pessoas-section .corpo { display: flex; justify-content: center; flex-wrap: wrap; }
.pessoas-section .corpo { position: relative; }

.pessoas-section .corpo .pessoa { width: 33.33%; height: 345px; position: relative; cursor: pointer; }
.pessoas-section .corpo .pessoa img {max-width: 100%;}
.pessoas-section .corpo .pessoa { display: flex; flex-direction: column; justify-content: space-between; }
.pessoas-section .corpo .pessoa .ico-plus { padding-top: 18px; padding-left: 18px; flex: 1; }
.pessoas-section .corpo .pessoa .ico-plus img { width: 35px; }
.pessoas-section .corpo .pessoa .nome-conhecimento { text-align: center; color: #fff;}
.pessoas-section .corpo .pessoa .nome-conhecimento .nome { font-size: 33px; padding-bottom: 2px; }
.pessoas-section .corpo .pessoa .nome-conhecimento .conhecimento { font-size: 15px; padding-bottom: 15px; }

    .pessoas-section .corpo .pessoa .nome-conhecimento .nome,
    .pessoas-section .corpo .pessoa .nome-conhecimento .conhecimento {
        text-shadow: 1px 1px 2px #000;
    }


        .dream-team-header { text-align: center; padding: 30px; }
        .dream-team-header span { display: inline-block; font-size: 27px; color: var(--verde-escuro); text-transform: uppercase; }
        .dream-team-header span img { width: 33px; }

        .pessoas-section .corpo-dream-team .pessoa { width: 20%; /*height: 211px;*/ height: 240px; }
        .pessoas-section .corpo-dream-team .pessoa .nome-conhecimento .nome { font-size: 18px; }
        .pessoas-section .corpo-dream-team .pessoa .nome-conhecimento .conhecimento { font-size: 11px; }

        /* background dream-team */
        .pessoas-section .corpo-dream-team .pessoa,
        .pessoas-section .corpo-dream-team .img-over {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 0px;
        }


    .pessoa .img-over { position: absolute; left: 0; top: 0; width: 100%;height: 100%; }
    .pessoa-active .img-over,
    .pessoa:hover .img-over { visibility: hidden; }

    .pessoas-section .corpo .advogado-box-detalhe { position: absolute; z-index: 1; /*top: 25px;*/ }
    .pessoas-section .corpo .advogado-box-detalhe { display: none; }
    .advogado-box-detalhe { 
        max-width: 830px; 
        background: no-repeat left bottom rgba(0, 0, 0, 0.9); 
        background-size: 45%;
    }    
        .advogado-box-detalhe .advogado-foto { 
            padding: 0px 25px 0 25px;
            display: flex; 
        }
    .advogado-box-detalhe .bt-fechar { text-align: right; padding: 20px 20px 0 0; }
    .advogado-box-detalhe .bt-fechar .btn-x { display: inline-block; padding: 5px; border: 2px solid var(--verde-claro); color: var(--verde-claro); font-weight: 700; text-decoration: none; }
    .advogado-box-detalhe .advogado-foto .nome-conhecimento { width: 48%; padding-bottom: 500px; padding-left: 30px; padding-right: 15px; }
    .advogado-box-detalhe .advogado-foto .nome-conhecimento .ico-plus { width: 30px; margin-left: -30px; }
    .advogado-box-detalhe .advogado-foto .nome-conhecimento .ico-plus img { max-width: 100%; }
    .advogado-box-detalhe .advogado-foto .nome-conhecimento .nome { font-size: 38px; color: var(--verde-claro); margin-top: -15px; }
    .advogado-box-detalhe .advogado-foto .nome-conhecimento .conhecimento { font-size: 15px; color: #fff; font-weight: 600; }
    .advogado-box-detalhe .advogado-foto .curriculo { width: 52%; color: #fff; font-size: 13px; padding-left: 10px; padding-top: 26px; padding-bottom: 20px; }
    .advogado-box-detalhe .advogado-foto .curriculo p { margin-bottom: 20px; }
        
        
        .corpo-dream-team .advogado-box-detalhe { padding-bottom: 30px; }
        .corpo-dream-team .advogado-foto { display: flex; }
        .corpo-dream-team .advogado-foto img { max-width: 100%; }
        .corpo-dream-team .advogado-foto .foto { width: 225px; }
        .corpo-dream-team .advogado-foto .informacoes { flex: 1; padding-left: 27px; }
        .corpo-dream-team .advogado-foto .informacoes .nome-conhecimento { padding-bottom: 0; width: 100%; }
        .corpo-dream-team .advogado-foto .informacoes .nome-conhecimento .nome { font-size: 20px; }
        .corpo-dream-team .advogado-foto .informacoes .nome-conhecimento .conhecimento { font-size: 13px; }
        .corpo-dream-team .advogado-foto .informacoes .curriculo { width: 100%; font-size: 12px; padding-left: 30px; }

    
        .adv-01-patricia { background-image: url(../images/adv-01-patricia.png?1=2); }
        .adv-02-antonio { background-image: url(../images/adv-02-antonio.png?1=2); }
        .adv-03-caroline { background-image: url(../images/adv-03-caroline.png?1=2); }
        .adv-03-caroline .advogado-foto .nome-conhecimento { padding-bottom: 520px; }
    
        .adv-04-henrique { background-image: url(../images/adv-04-henrique.png?1=2); }
        .adv-04-henrique .advogado-foto .nome-conhecimento { padding-bottom: 470px; }
    
        .adv-05-leandro { background-image: url(../images/adv-05-leandro.png?1=2); }
        .adv-05-leandro .advogado-foto .nome-conhecimento { padding-bottom: 480px; }
    
        .adv-06-leticia { background-image: url(../images/adv-06-leticia.png?1=2); }
    
        .adv-07-lorena { background-image: url(../images/adv-07-lorena.png?1=2); }
        .adv-07-lorena .advogado-foto .nome-conhecimento { padding-bottom: 460px; }
    
        .adv-08-marcelo { background-image: url(../images/adv-08-marcelo.png); }
        .adv-08-marcelo .advogado-foto .nome-conhecimento { padding-bottom: 470px; }
    
        .adv-09-sandra { background-image: url(../images/adv-09-sandra.png?1=2); }
        .adv-09-sandra .advogado-foto .nome-conhecimento { padding-bottom: 420px; }


.reconhecimento-section {background: #fff;}
.reconhecimento-section .container {padding-top: 86px; }
.reconhecimento-section .titulo-default { margin-bottom: 40px; }
.reconhecimento-section .olho {font-size: 28px; color: var(--verde-escuro);font-weight: 400;text-align: center;padding: 0 90px;margin-bottom: 85px;}
.reconhecimento-section .olho strong {display: inline-block;}
.reconhecimento-section .corpo { display: flex; flex-wrap: wrap; max-width: 1100px; margin: 0 auto 150px; }
.reconhecimento-section .corpo .selo { width: 20%; display: flex;align-items: center; justify-content: center; padding-bottom: 20px;}
.reconhecimento-section .corpo .selo img {max-width: 100%;}


.box-campo { margin-bottom: 20px; }
.box-campo label { font-size: 19px; color: #9c9b9b; text-transform: uppercase; display: inline-block; margin-bottom: 4px; }
.box-campo select,
.box-campo input,
.box-campo textarea {
    border: 1px solid #d9d9d9; font-size: 19px; width: 100%; padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: var(--verde-escuro);
}
.box-campo textarea { height: 140px; }
.bt-box button { background: var(--verde-claro); color: #fff; text-transform: uppercase; font-size: 30px; padding: 10px 20px; border: none; cursor: pointer; }
.bt-box button:hover { background: #30999e; }


.box-inputs { display: flex; justify-content: space-between; }
.box-inputs .box-campo { width: 48%; }

.box-assine-enviar { display: flex; justify-content: space-between; margin-bottom: 60px; }
.box-assine-enviar .assine { font-size: 18px; color: #575756; width: 60%; }
.box-assine-enviar .bt-box { width: 30%; display: flex; justify-content: flex-end; align-items: center; }

.footer1 { background: var(--verde-claro); padding: 13px 0; }
.footer1 .container { display: flex; justify-content: space-between; padding: 0 60px; }
.footer1 .parte1,
.footer1 .parte2 { width: 48%; }
.footer1 .parte1 { font-size: 18px; color: #000; font-weight: 400; }
.footer1 .parte2 { 
    font-size: 18px; color: #000; font-weight: 400; display: flex; align-items: center; 
    display: flex;justify-content: flex-end;
}
.footer1 .parte2 .icone { margin-left: 15px; }
.footer1 .parte2 .icone img { margin-top: -135px; }


.footer2 { background: var(--verde-escuro); padding: 30px 0; }
.footer2 .container { display: flex; justify-content: space-between; padding: 0 60px; }
.footer2 .parte1 { width: 69%; color: var(--verde-claro); font-weight: 600; font-size: 15px; }
.footer2 .parte2 { width: 30%; }
.footer2 .parte1 a { font-size: 14px; color: var(--verde-claro); font-weight: 600; text-transform: uppercase; text-decoration: none; }

.footer2 .parte2 { 
    font-size: 18px; color: #000; font-weight: 400; display: flex; align-items: center; 
    display: flex;justify-content: flex-end;
}
.footer2 .parte2 ul,
.footer2 .parte2 li { list-style: none; }
.footer2 .parte2 ul { display: flex; }
.footer2 .parte2 li a { display: inline-block; }
/* 
.footer2 .parte2 li { margin-left: 5px; }
.footer2 .parte2 li:last-child { margin-left: 35px; }
.social-footer { width: 50px; height: 50px; text-indent: -9999px; background: url(../images/footer-ico-social.gif) no-repeat;}
.social-footer.instagram { background-position: 0 -50px;}
.social-footer.instagram:hover { background-position: 0 0px;}
.social-footer.twitter { background-position: -58px -50px;}
.social-footer.twitter:hover { background-position: -58px 0px;}
.social-footer.facebook { background-position: -117px -50px;}
.social-footer.facebook:hover { background-position: -117px 0px;}
.social-footer.linkedin { background-position: -176px -50px;}
.social-footer.linkedin:hover { background-position: -176px 0px;}
.social-footer.email { background-position: -260px -50px; width: 63px;}
.social-footer.email:hover { background-position: -260px 0px;} 
*/

.footer2 .parte2 li { margin-left: 5px; }
.footer2 .parte2 li:last-child { margin-left: 19px; }
.social-footer { width: 27px; height: 27px; /*text-indent: -9999px; background: url(../images/footer-ico-social-27.gif) no-repeat;*/ }

.social-footer.instagram { background-position: 0 -27px;}
.social-footer.youtube { background-position: -32px -27px;}
.social-footer.facebook { background-position: -64px -27px;}
.social-footer.linkedin { background-position: -96px -27px;}
.social-footer.email { background-position: -142px -27px; width: 34px;}

.social-footer.instagram:hover { background-position: 0 0px;}
.social-footer.youtube:hover { background-position: -32px 0px;}
.social-footer.facebook:hover { background-position: -64px 0px;}
.social-footer.linkedin:hover { background-position: -96px 0px;}
.social-footer.email:hover { background-position: -142px 0px;}

    /* SVG */
    .social-footer svg rect,
    .social-footer svg path { fill: #fff; /*transition: all ease 0.1s;*/ }
    .social-footer svg:hover rect,
    .social-footer svg:hover path { fill: var(--verde-claro); /*transition: all ease 0.1s;*/ }

/* 
section { display: none; }
section.slider-area,
section.quem-somos,
section.visao-section,
section.valores-section,
section.atuacao-section,
section.pessoas-section,
section.reconhecimento-section,
section.fale-section {display: block;}
 */

@media (min-width:1600px) {



    .pessoas-section .corpo .pessoa {
        height: 450px;
    }
    .pessoas-section .corpo-dream-team .pessoa {
        height: 480px;
    }

}


@media (max-width:1024px) {

    .idioma {
        margin-left: 15px;
        position: absolute;
        right: 37px;
        top: 14px;
    }
    .idioma img { width: 28px; }
    

    .titulo-default h2 { font-size: 39px; }
    .reconhecimento-section .corpo .selo { width: 33%; padding-left: 50px; padding-right: 50px; padding-bottom: 0px; padding-top: 50px; }
    .titulo-default .grafismo { height: 36px; background-image: url(../images/titulo-grafismo-1024.png?i=02); }

    .quem-somos h3 {
        font-size: 20px;
    }
    .quem-somos p {
        font-size: 15px;
    }

    .visao-section .corpo {
        font-size: 25px;
    }
    .visao-section .corpo p {
        margin-bottom: 40px;
    }
    .visao-section .container {
        padding-bottom: 130px;
    }

    .valores-corpo h4 {
        font-weight: 500;
    }
    .valores-section .container {
        padding-bottom: 70px;
    }

    .atuacao-item h4 {
        font-size: 20px;
    }
    .pessoas-section .olho {
        font-size: 23px;
    }
    .pessoas-section .container {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .reconhecimento-section .container {
        padding-top: 70px;
    }

    .reconhecimento-section .olho {
        font-size: 23px;
        margin-bottom: 30px;
    }

}


@media (max-width:768px) {
    header .container {
        padding: 10px 15px 0;
    }
    /* .logo {
        width: 115px;
    } */
    .peck-desktop { display: none; }
    .peck-mobile { display: block; }
    .logo { width:126px; }


    .menu li {
        padding: 0 5px;
    }
    .menu li a {
        font-size: 12px;
    }

    .idioma {
        margin-left: 17px;
        right: 15px;
    }
    .idioma img {
        width: 27px;
    }

    .valores-corpo .img {
        min-height: 110px;
    }

    .valores-corpo h4 {
        font-size: 15px;
        font-weight: 500;
    }


    .atuacao-item h4 {
        font-size: 18px;
    }
    .atuacao-item {
        font-size: 14px;
    }

    .pessoas-section .corpo .advogado-box-detalhe {
        margin: 10px;
    }

    .bt-box button {
        font-size: 25px;
    }

    .footer1 .parte1 {
        font-size: 16px;
        width: 55%;
    }
    .footer1 .parte2 {
        width: 40%;
    }

    .footer2 .parte1{
        padding-top: 6px;
    }

    .footer1 .container,
    .footer2 .container { padding: 0 30px; }
    .footer2 .parte1,
    .footer2 .parte1 a { font-size: 12px; }
    

}


@media (max-width:760px) {

    .logo {
        width: auto;
    }
    .menu-mobile {
        display: block; margin-left: 17px;
        display: flex; flex-direction: column; justify-content: space-around;
    }
    .nav-main {
        position: absolute; left: 0; top: 110px; padding: 10px 0 10px 20px;
        background: #fff; width: 100%; display: flex; flex-direction: column;
        display: none;
    }
    .menu {
        order: 1;
    }
    .menu li {
        padding: 5px 0 5px 10px;
        border-top: 1px solid var(--verde-escuro);
        margin-right: 25px;
    }    
    .menu li:first-child {
        padding-left: 10px;
        border: none;
    }
    .menu li a {
        color: var(--verde-escuro);
        font-weight: 600;

        background: url(../images/ico-plus-claro.png?i=02) no-repeat 0 center;
        background-size: 10px;
        padding-left: 20px;
        width: 100%;
        display: inline-block;
    }
    .navegacao .social {
        margin-left: 15px;
    }
    .navegacao .social-20 li .email {
        margin-left: 5px;
    }

    /* .idioma {
        margin-left: 15px;
        position: absolute;
        right: 15px;
        top: 14px;
    } */
    .idioma img {
        width: 25px;
    }

    .exibir-slide .conteudo-01 div:first-child {
        display: none;
    }
    .exibir-slide .conteudo-01 div {
        width: 100%;
        padding: 20px;
    }


    .banner_time3 {
        background-position: 35% 0;
    }



    .titulo-default {
        margin-bottom: 40px;
    }
    .quem-somos {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .quem-somos .corpo {
        grid-template-columns: 1fr;
    }
    .quem-somos h3, .quem-somos p {
        margin-bottom: 20px;
        grid-gap: 0px;
    }

    .quem-somos .grafismo {
        flex-direction: column;
    }
    .visao-section .corpo {
        font-size: 19px;
    }
    .valores-corpo .valor-item {
        width: 100%;
    }
    .valores-corpo .img {
        margin-bottom: 35px;
    }
    .valores-corpo .img img {
        max-width: 91%;
    }
    .valores-corpo h4 {
        font-size: 18px;
    }
    .valores-corpo p {
        font-size: 17px;
    }

    .atuacao-item {
        width: 100%;
        font-size: 17px;
    }

    .pessoas-section .olho {
        padding: 0 40px;
        margin-bottom: 30px;
    }
    .pessoas-section .corpo .pessoa {
        width: 100%;
        height: 345px;
        position: relative;
        cursor: pointer;
    }
    .pessoas-section .corpo .advogado-box-detalhe {
        padding-bottom: 380px;
        background-size: 75%;
    }
        .pessoas-section .corpo-dream-team .advogado-box-detalhe {
            padding-bottom: 0;
        }
    .advogado-box-detalhe .advogado-foto {
        flex-direction: column;
    }
        .corpo-dream-team .advogado-foto .foto {
            width: 100%;
            padding: 25px;
        }
    .advogado-box-detalhe .advogado-foto .nome-conhecimento {
        padding-bottom: 0px;
        width: 100%;
    }
    .advogado-box-detalhe .advogado-foto .curriculo {
        font-size: 15px;
        padding-left: 30px;
        width: 100%;
    }

        .corpo-dream-team .advogado-foto .informacoes .curriculo {
            padding-right: 30px;
        }

    .titulo-default h2 {
        font-size: 27px;
    }

    .reconhecimento-section .olho {
        font-size: 18px;
        padding: 0 0px;
    }
    .reconhecimento-section .corpo .selo {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .box-inputs {
        display: block;
        justify-content: unset;
    }
    .box-inputs .box-campo {
        width: 100%;
    }
    .box-assine-enviar {        
        display: block;
        justify-content: unset;
    }
    .box-assine-enviar .assine {
        width: 100%;
        margin-bottom: 40px;
    }
    .box-assine-enviar .bt-box {
        width: 100%;
        display: block;
    }
    .bt-box button {
        width: 100%;
    }
   
    .footer1 .container {
        justify-content: unset;
        padding: 0 20px;
        flex-direction: column;
    }
    .footer1 .parte1 {
        width: 100%;
        margin-bottom: 90px;
    }
    .footer1 .parte2 {
        width: 100%;
        justify-content: center;
    }

    .footer2 .container {
        justify-content: unset;
        display: block;
        padding: 0 20px;
    }
    .footer2 .parte1 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer2 .parte1 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer2 .parte2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}


@media (max-width:490px) {

    .footer2 .parte1 a {
        display: block;
        padding: 10px 0;
    }
    .footer2 .parte1 span {
        display: none;
    }

}