
:root {
    --verde-padrao: #004d59;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Montserrat', sans-serif; font-size: 13px; }
.Montserrat { font-family: 'Montserrat', sans-serif; }
.dn { display: none; }
.ttu { text-transform: uppercase; }
.container { max-width: 1600px; padding: 0 20px; margin: 0 auto; }
p {line-height: 150%;}

header { background-color: var(--verde-padrao); color: #1ec8d2; }
header .container { height: 132px; display: flex; justify-content: space-between; align-items: center; padding-left: 40px; padding-right: 40px;}
.border-gradient { 
    height: 11px; background:#2ec8d1; 
    background: linear-gradient(45deg,#004d59, #2ec8d1); 
    background: -moz-linear-gradient(45deg,#004d59, #2ec8d1); 
    background: -o-linear-gradient(45deg,#004d59, #2ec8d1); 
    background: -webkit-linear-gradient(45deg,#004d59, #2ec8d1); 
}

.botao-topo {
    background: #2ec8d0;
    color: var(--verde-padrao);
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    right: 0;
    top: 10vh;
    width: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
    cursor: pointer;
    z-index: 1;

    transition:all ease .2s;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.navegacao { display: flex;align-items: center;}

.menuMobile { display: none; width: 40px; height: 40px; margin-top: 40px; margin-bottom: 40px; margin-right: 20px; }
.mm-line { height: 3px; background-color: var(--azul-claro); }

.menu ul,
.menu li {list-style: none;}
.menu li {display: inline;padding: 0 25px;}
.menu li a { text-transform: uppercase; color: #1ec8d2; /*font-size: 25px;*/ font-size: 19px; text-decoration: none; font-weight: 300; }
.menu li.active a,
.menu li a:hover { color: #fff; }

/* .navegacao .social {} */
.navegacao .social ul {display: flex;}
.navegacao .social ul,
.navegacao .social li { list-style: none; }
.navegacao .social li { list-style: none; }
/* .navegacao .social li { display: inline; } */
.navegacao .social li a { 
    display: block; width: 26px; height: 26px; text-indent: -9000px; margin-left: 5px;
    background: url(../images/icos-social-header.gif) no-repeat;
}
.navegacao .social li .instagram { background-position: 0 0;} 
.navegacao .social li .twitter { background-position: -31px 0;} 
.navegacao .social li .facebook { background-position: -63px 0;} 
.navegacao .social li .linkedin { background-position: -94px 0;} 
.navegacao .social li .email { background-position: -138px 0;} 
.navegacao .social li .instagram:hover { background-position: 0 -30px;} 

.navegacao .social li .twitter:hover { background-position: -31px -30px;} 
.navegacao .social li .facebook:hover { background-position: -63px -30px;} 
.navegacao .social li .linkedin:hover { background-position: -94px -30px;} 
.navegacao .social li .email:hover { background-position: -138px -30px;} 

.navegacao .social li .email {width: 33px;margin-left: 15px;} 

.idioma {margin-left: 40px; display: flex;}
.idioma a { display: inline-block; }
.idioma a:last-child { margin-left: 10px; }
.idioma img { width: 52px;}

.slider-area { height: calc(100vh - 143px); background: #0f0;}
.item-slider { background: url(../images/slider-modelo.jpg) no-repeat center; background-size: cover;height: 100%;}

.quem-somos {padding-top: 90px;padding-bottom: 70px;}
.titulo-default { margin-bottom: 60px; }
.titulo-default h2 { font-size: 50px; font-weight: 300; color: var(--verde-padrao);text-transform: uppercase; }
.titulo-default .grafismo { height: 58px; background: url(../images/titulo-grafismo.png) no-repeat right 0;}

.quem-somos h3,
.quem-somos p {margin: 0; margin-bottom: 30px;}
.quem-somos h3 {font-weight: 500;text-transform: uppercase;color: var(--verde-padrao); font-size: 24px;}
.quem-somos p { font-weight: 400;color: #707070;font-size: 20px; }
.quem-somos .corpo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.quem-somos .grafismo img {max-width: 100%;}
.quem-somos .grafismo { display: flex; }

.visao-section {background: url(../images/section-visao.jpg) no-repeat center; background-size: cover;}
.visao-section .container {padding-top: 50px;padding-bottom: 220px;}
.visao-section .titulo-default h2 { color: #fff; }
.visao-section .corpo {font-size: 32px;font-weight: 500;font-style: italic;color: #fff;}
.visao-section .corpo p {margin-bottom: 70px;text-align: center;}

.valores-section .container {padding-top: 50px;padding-bottom: 220px;}
.valores-corpo {display: flex; flex-wrap: wrap; /*margin: 0 -15px;*/ justify-content: space-between; }
.valores-corpo .valor-item {border: 1px solid var(--verde-padrao);padding: 30px 25px 20px;width: 32%;/*margin: 15px;*/ margin-bottom: 30px;}
.valores-corpo .img {min-height: 186px; margin-bottom: 13px;}
.valores-corpo .img img {max-width: 100%;}
.valores-corpo h4 {font-size: 19px; color: #1ec8d2; text-transform: uppercase;min-height: 50px; margin-bottom: 10px;font-weight: 600;}
.valores-corpo p {font-size: 19px; color: #575756; margin-bottom: 38px;font-weight: 300;text-align: justify;margin-bottom: 0;}

.atuacao-section { background: url(../images/atuacao-section.jpg) center bottom var(--verde-padrao) no-repeat; background-size:contain; }
.atuacao-section .container {padding-top: 50px;padding-bottom: 0px;}
.atuacao-section .titulo-default h2 { color: #fff; }
.atuacao-section .corpo { display: flex; justify-content: space-between; flex-wrap: wrap; }

.atuacao-item { width: 48%; color: #fff;font-size: 19px;margin-bottom: 65px;}
.atuacao-item .img {/*height: 196px;*/ margin-bottom: 35px; }
.atuacao-item .img img {border-left: 23px solid #2ec8d0; max-width: 100%;}
.atuacao-item h4 {font-size: 24px; color: #1ec8d2; text-transform: uppercase;min-height: 45px; margin-bottom: 11px;font-weight: 600;}
.atuacao-item p {margin-bottom: 38px;font-weight: 300;text-align: justify;}
.atuacao-item ul { padding-left: 20px; }
.atuacao-item li { list-style: url('../images/atuacao-list-style.gif'); margin-bottom: 7px;}
 

.pessoas-section {background: #fff;}
.pessoas-section .container {padding-top: 86px; padding-bottom: 90px;}
.pessoas-section .titulo-default { margin-bottom: 40px; }
.pessoas-section .olho {font-size: 36px; color: var(--verde-padrao);font-weight: 400;text-align: center;padding: 0 90px;margin-bottom: 60px;}
.pessoas-section .olho strong {display: inline-block;}
.pessoas-section .corpo { display: flex; justify-content: center; flex-wrap: wrap; }
.pessoas-section .corpo .pessoa { width: 33.33%; /*flex-grow: 3;*/ height: 345px; }
.pessoas-section .corpo .pessoa img {max-width: 100%;}


.reconhecimento-section {background: #fff;}
.reconhecimento-section .container {padding-top: 86px; }
.reconhecimento-section .titulo-default { margin-bottom: 40px; }
.reconhecimento-section .olho {font-size: 36px; color: var(--verde-padrao);font-weight: 400;text-align: center;padding: 0 90px;margin-bottom: 85px;}
.reconhecimento-section .olho strong {display: inline-block;}
.reconhecimento-section .corpo { display: flex; flex-wrap: wrap; max-width: 1100px; margin: 0 auto 150px; }
.reconhecimento-section .corpo .selo { width: 20%; display: flex;align-items: center; justify-content: center; padding-bottom: 20px;}
.reconhecimento-section .corpo .selo img {max-width: 100%;}




.box-campo { margin-bottom: 20px; }
.box-campo label { font-size: 19px; color: #9c9b9b; text-transform: uppercase; display: inline-block; margin-bottom: 4px; }
.box-campo select,
.box-campo input,
.box-campo textarea {
    border: 1px solid #d9d9d9; font-size: 19px; width: 100%; padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: var(--verde-padrao);
}
.box-campo textarea { height: 140px; }
.bt-box button { background: #2ec8d0; color: #fff; text-transform: uppercase; font-size: 34px; padding: 10px 20px; border: none; cursor: pointer; }
.bt-box button:hover { background: #30999e; }


.box-inputs { display: flex; justify-content: space-between; }
.box-inputs .box-campo { width: 48%; }

.box-assine-enviar { display: flex; justify-content: space-between; margin-bottom: 60px; }
.box-assine-enviar .assine { font-size: 28px; color: #575756; width: 60%; }
.box-assine-enviar .bt-box { width: 30%; display: flex; justify-content: flex-end; align-items: center; }

.footer1 { background: #2ec8d0; padding: 25px 0; }
.footer1 .container { display: flex; justify-content: space-between; padding: 0 60px; }
.footer1 .parte1,
.footer1 .parte2 { width: 48%; }
.footer1 .parte1 { font-size: 22px; color: #000; font-weight: 400; }
.footer1 .parte2 { 
    font-size: 30px; color: #000; font-weight: 400; display: flex; align-items: center; 
    display: flex;justify-content: flex-end;
}
.footer1 .parte2 .icone { margin-left: 40px; }
.footer1 .parte2 .icone img { margin-top: -140px; }


.footer2 { background: var(--verde-padrao); padding: 35px 0; }
.footer2 .container { display: flex; justify-content: space-between; padding: 0 60px; }
.footer2 .parte1,
.footer2 .parte2 { width: 48%; }
.footer2 .parte1 a { font-size: 34px; color: #1ec8d2; font-weight: 600; text-transform: uppercase; text-decoration: none; }

.footer2 .parte2 { 
    font-size: 30px; color: #000; font-weight: 400; display: flex; align-items: center; 
    display: flex;justify-content: flex-end;
}
.footer2 .parte2 ul,
.footer2 .parte2 li { list-style: none; }
.footer2 .parte2 ul { display: flex; }
.footer2 .parte2 li { margin-left: 10px; }
.footer2 .parte2 li:last-child { margin-left: 35px; }
.footer2 .parte2 li a { display: inline-block; }

.social-footer { width: 50px; height: 50px; text-indent: -9999px; background: url(../images/footer-ico-social.gif) no-repeat;}
.social-footer.instagram { background-position: 0 -50px;}
.social-footer.instagram:hover { background-position: 0 0px;}
.social-footer.twitter { background-position: -58px -50px;}
.social-footer.twitter:hover { background-position: -58px 0px;}
.social-footer.facebook { background-position: -117px -50px;}
.social-footer.facebook:hover { background-position: -117px 0px;}
.social-footer.linkedin { background-position: -176px -50px;}
.social-footer.linkedin:hover { background-position: -176px 0px;}
.social-footer.email { background-position: -260px -50px; width: 63px;}
.social-footer.email:hover { background-position: -260px 0px;}
